src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c10cc82c-0ec2-4de2-8c19-15d9e0b683ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a88d7b1d-67f7-4724-a9de-a5d0287354c7" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAllFlights" doc:id="aa68126a-e957-43fd-a65a-0b8ac6f2c354" >
		<http:listener doc:name="GET /flights" doc:id="d77c127e-feec-4203-b1f2-dc74cbbd1f15" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select all flights" doc:id="2ffc99df-06ed-4609-a022-2b549ef65fac" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9993d958-c004-4a5b-b7a8-ac78cabd5ac0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Fetched Flights ID" doc:id="676bffce-d1b0-4d56-bb53-640f35da7ba1" message="#[payload.ID]" />
	</flow>
	<flow name="getFlightByID" doc:id="bb11be18-f80b-42af-a2d0-cb20a7c3c069" >
		<http:listener doc:name="GET /flights/{ID}" doc:id="6783eda2-f876-44e4-ac16-036843e1c3fb" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<set-variable value="#[message.attributes.uriParams.ID]" doc:name="Set Flight ID" doc:id="07b350db-f167-4dbf-abd3-73a7a721c19d" variableName="flightid"/>
		<db:select doc:name="Select flight by ID" doc:id="a6d97e42-2aa7-45b4-8e3f-60dc857dc050" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM american where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ "ID": vars.flightid }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3347c9fc-e392-45c0-ad83-37122bf232f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Fetched Flights ID" doc:id="7d94563f-2dd7-4117-a016-e64d776bd8ce" message="#[payload.ID]" />
	</flow>
	<flow name="postFlight" doc:id="449c639a-d0de-4e8f-8c0a-5cc6354f6cbc" >
		<http:listener doc:name="POST /flights" doc:id="cd8eff91-335d-4279-94ac-36191465592e" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="f0d2835d-4e98-4234-8d24-6907104cdd59" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Flight added (but not really!)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>